In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nameparser import HumanName
import webbrowser
%matplotlib inline

Import CSV file of data that needs cleaning and check its shape.

In [2]:
killings = pd.read_csv('./csv_files/police_killings_original.csv')
killings.shape

(7907, 66)

# Data Cleaning

Drop rows that contain ALL null values, then drop columns that contain ALL null values

In [3]:
killings.dropna(how='all', axis=0, inplace=True)
killings.dropna(how='all', axis=1, inplace=True)
killings.shape

(7663, 27)

In [4]:
killings.columns

Index(['Victim's name', 'Victim's age', 'Victim's gender', 'Victim's race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City', 'State', 'Zipcode', 'County',
       'Agency responsible for death', 'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Unarmed',
       'Alleged Weapon (Source: WaPo)', 'Alleged Threat Level (Source: WaPo)',
       'Fleeing (Source: WaPo)', 'Body Camera (Source: WaPo)',
       'WaPo ID (If included in WaPo database)', 'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'ID'],
      dtype='object')

## Cleaning column names and dropping unnecessary columns
The column names are pretty messy, let's change that

In [5]:
killings.rename(columns={
    "Victim's name":"victims_name", 
    "Victim's age":"victims_age", 
    "Victim's gender":"victims_gender", 
    "Victim's race":"victims_race",
    "URL of image of victim": "victim_img_url",
    "Date of Incident (month/day/year)":"date",
    "Street Address of Incident": "street_address",
    "City":"city",
    "State":"state",
    "Zipcode":"zipcode",
    "County":"county",
    "Agency responsible for death":"agency_resp_for_death",
    "Cause of death":"cause_of_death",
    "A brief description of the circumstances surrounding the death":"desc_of_circumstances",
    "Official disposition of death (justified or other)":"official_disposition_of_death",
    "Criminal Charges?":"criminal_charges", 
    'Link to news article or photo of official document':"news_article_link",
    'Symptoms of mental illness?':'mental_illness',
    "Unarmed":"unarmed",
    'Alleged Weapon (Source: WaPo)':'alleged_weapon',
    'Alleged Threat Level (Source: WaPo)':'threat_level',
    'Fleeing (Source: WaPo)': 'fleeing',
    'Body Camera (Source: WaPo)':'body_camera',
    'WaPo ID (If included in WaPo database)':'WaPo_id',
    'Off-Duty Killing?':'off_duty_killing',
    'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )':'geo_type',
    }, inplace=True)

Check to see what percentage of null values are contained in each column that remains.

In [6]:
(killings.isnull().sum() / len(killings)) * 100

victims_name                      0.000000
victims_age                       0.874331
victims_gender                    0.104398
victims_race                      0.000000
victim_img_url                   45.191178
date                              0.000000
street_address                    1.083127
city                              0.078298
state                             0.000000
zipcode                           0.508939
county                            0.195746
agency_resp_for_death             0.208796
cause_of_death                    0.000000
desc_of_circumstances             0.260994
official_disposition_of_death     3.340728
criminal_charges                  0.000000
news_article_link                 0.156597
mental_illness                    0.143547
unarmed                           0.000000
alleged_weapon                    0.000000
threat_level                     31.084432
fleeing                          34.138066
body_camera                      37.439645
WaPo_id                          36.343469
off_duty_killing                 97.050763
geo_type                          0.874331
ID                                0.000000
dtype: float64

Because off_duty_killing is missing 97% of values, I'm going to drop it.

Because we can use our df index to ID each row, we don't need the ID column and can drop it.

I've also tried to access the WaPo database to look up cases based on WaPo_id, but it doesn't let me search using that parameter, so I'm going to drop that column too.

In [8]:
killings.drop(['WaPo_id', 'off_duty_killing', 'ID'], axis=1, inplace=True)

Let's investigate what our columns are about and perform any necessary cleaning column by column

In [9]:
killings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7663 entries, 0 to 7662
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   victims_name                   7663 non-null   object
 1   victims_age                    7596 non-null   object
 2   victims_gender                 7655 non-null   object
 3   victims_race                   7663 non-null   object
 4   victim_img_url                 4200 non-null   object
 5   date                           7663 non-null   object
 6   street_address                 7580 non-null   object
 7   city                           7657 non-null   object
 8   state                          7663 non-null   object
 9   zipcode                        7624 non-null   float64
 10  county                         7648 non-null   object
 11  agency_resp_for_death          7647 non-null   object
 12  cause_of_death                 7663 non-null   object
 13  desc_of_circumstances          7643 non-null   object
 14  official_disposition_of_death  7407 non-null   object
 15  criminal_charges               7663 non-null   object
 16  news_article_link              7651 non-null   object
 17  mental_illness                 7652 non-null   object
 18  unarmed                        7663 non-null   object
 19  alleged_weapon                 7663 non-null   object
 20  threat_level                   5281 non-null   object
 21  fleeing                        5047 non-null   object
 22  body_camera                    4794 non-null   object
 23  geo_type                       7596 non-null   object
dtypes: float64(1), object(23)
memory usage: 1.5+ MB

## Converting data types

### Date Column

We can convert the dates in the date column to Python datetime objects

In [10]:
killings["date"] = pd.to_datetime(killings["date"], infer_datetime_format=True)

## Handling Null values

### URL column

For rows that don't have a URL image of the victim, I'm going to impute "None"

In [11]:
killings['victim_img_url'].fillna('None', inplace=True)

### Gender
Let's try to determine what to do with the Null values for gender.  We'll begin by inspecting those that have a news article link present as that may have information we can use.

In [12]:
null_gender_df = killings[(killings["victims_gender"].isnull()==True) & (killings['news_article_link'].isnull()==False)]

null_gender_df

,victims_name,victims_age,victims_gender,victims_race,victim_img_url,date,street_address,city,state,zipcode,...,official_disposition_of_death,criminal_charges,news_article_link,mental_illness,unarmed,alleged_weapon,threat_level,fleeing,body_camera,geo_type
13,Name withheld by police,NaN,NaN,Unknown race,None,2019-12-29,3015 Old State Rd 25,Lafayette,IN,47905.0,...,Pending investigation,No known charges,https://www.jconline.com/story/news/2019/12/30...,No,Allegedly Armed,gun,attack,not fleeing,no,Urban
112,Name withheld by police,NaN,NaN,White,None,2019-11-29,38300 Mountain Hwy E,Eatonville,WA,98328.0,...,Pending investigation,No known charges,https://katu.com/news/local/sheriff-suspect-ki...,No,Unclear,undetermined,undetermined,Car,No,Rural
806,Name withheld by police,NaN,NaN,Hispanic,None,2019-04-06,NM-9,Santa Teresa,NM,88021.0,...,Criminal,No known charges,https://www.elpasotimes.com/story/news/immigra...,No,Vehicle,vehicle,NaN,NaN,NaN,Rural
807,Name withheld by police,NaN,NaN,Hispanic,None,2019-04-06,NM-9,Santa Teresa,NM,88021.0,...,Criminal,No known charges,https://www.elpasotimes.com/story/news/immigra...,No,Vehicle,vehicle,NaN,NaN,NaN,Rural
1017,Name withheld by police,NaN,NaN,Native American,None,2019-01-23,US-491,Naschitti,NM,87325.0,...,Pending investigation,No known charges,https://navajotimes.com/reznews/police-confirm...,No,Unclear,undetermined,undetermined,0,No,Rural
1029,Jihad Merrick,NaN,NaN,Unknown race,None,2019-01-16,NaN,Nashua,IA,NaN,...,Pending investigation,No known charges,https://wcfcourier.com/news/local/crime-and-co...,Yes,Vehicle,vehicle,attack,Car,No,NaN

While reading through each article, it would be good to know which columns are Null in case we find that information in the article.  To do this, we'll determine which columns are null for each of the distinct rows, then read the article and impute any information we find.

In [13]:
null_gender_links = null_gender_df['news_article_link']

null_gender_idx = null_gender_links.index
null_gender_urls = null_gender_links.to_list()

print("Here are the links for news articles that contain links for rows with a null gender:")
print("-"*50)
print()
for idx, link in zip(null_gender_idx, null_gender_links):
    null_col_mask = killings.loc[idx].isna()==True
    print(F"df_idx: {idx}")
    print(killings.loc[idx, null_col_mask].to_string())
    print(F"link: {link}")
    print()

Here are the links for news articles that contain links for rows with a null gender:
--------------------------------------------------

df_idx: 13
victims_age       NaN
victims_gender    NaN
link: https://www.jconline.com/story/news/2019/12/30/2-dead-sunday-night-shootings-family-express-near-lafayette/2773121001/

df_idx: 112
victims_age       NaN
victims_gender    NaN
link: https://katu.com/news/local/sheriff-suspect-killed-in-deputy-involved-shooting-in-pierce-county-wash

df_idx: 806
victims_age       NaN
victims_gender    NaN
threat_level      NaN
fleeing           NaN
body_camera       NaN
link: https://www.elpasotimes.com/story/news/immigration/2019/04/07/border-patrol-chase-ends-crash-2-migrants-killed-new-mexico/3394408002/

df_idx: 807
victims_age       NaN
victims_gender    NaN
threat_level      NaN
fleeing           NaN
body_camera       NaN
link: https://www.elpasotimes.com/story/news/immigration/2019/04/07/border-patrol-chase-ends-crash-2-migrants-killed-new-mexico/3394408002/

df_idx: 1017
victims_age       NaN
victims_gender    NaN
link: https://navajotimes.com/reznews/police-confirm-shooting-death-involved-officer/

df_idx: 1029
victims_age       NaN
victims_gender    NaN
street_address    NaN
zipcode           NaN
geo_type          NaN
link: https://wcfcourier.com/news/local/crime-and-courts/update-man-shot-by-cops-in-highway-incident-was-from/article_e135ef16-c2ae-5c71-9524-caeb7d5a2a02.html

In [14]:
# news article says the victim was male, no age given
killings.loc[13, 'victims_gender'] = 'Male'

In [15]:
# news article says the victim was male in his 40s
killings.loc[112, ['victims_gender', 'victims_age']] = 'Male', '40'

In [16]:
# URL mentions male victim, but ad is behind paywall so can't investigate further
killings.loc[1029, 'victims_gender'] = 'Male'

In [17]:
killings.loc[774]

victims_name                               Akeen Brown
victims_age                                        NaN
victims_gender                                     NaN
victims_race                                     Black
victim_img_url                                    None
date                               2019-04-17 00:00:00
street_address                                     NaN
city                                             Flint
state                                               MI
zipcode                                            NaN
county                                             NaN
agency_resp_for_death                              NaN
cause_of_death                                 Gunshot
desc_of_circumstances                              NaN
official_disposition_of_death    Pending investigation
criminal_charges                      No known charges
news_article_link                                  NaN
mental_illness                                     NaN
unarmed                                Allegedly Armed
alleged_weapon                                     gun
threat_level                                    attack
fleeing                                    Not fleeing
body_camera                                         No
geo_type                                           NaN
Name: 774, dtype: object

In [18]:
killings[(killings['victims_gender'].isnull()==True) & (killings['news_article_link'].isnull()==True)]

,victims_name,victims_age,victims_gender,victims_race,victim_img_url,date,street_address,city,state,zipcode,...,official_disposition_of_death,criminal_charges,news_article_link,mental_illness,unarmed,alleged_weapon,threat_level,fleeing,body_camera,geo_type
528,Dennis Edwards,NaN,NaN,White,None,2019-07-10,NaN,Kansas City,KS,NaN,...,Pending investigation,No known charges,NaN,NaN,Allegedly Armed,gun,attack,Not fleeing,No,NaN
774,Akeen Brown,NaN,NaN,Black,None,2019-04-17,NaN,Flint,MI,NaN,...,Pending investigation,No known charges,NaN,NaN,Allegedly Armed,gun,attack,Not fleeing,No,NaN

In [19]:
# Both names sound male, so I'll set the gender accordingly
killings.loc[528, 'victims_gender'] = 'Male'
killings.loc[774, 'victims_gender'] = 'Male'

In [20]:
num_null_gender = killings['victims_gender'].isnull().sum()
print(F"There are only {num_null_gender} rows with a null gender left, so we'll impute 'Unknown'")

killings['victims_gender'].fillna('Unknown', inplace=True)

There are only 3 rows with a null gender left, so we'll impute 'Unknown'

### City/County

In [21]:
killings.loc[killings['city'].isnull()==True,['city', 'state', 'zipcode']]

     city state  zipcode
1755  NaN    ID      NaN
3339  NaN    FL  34639.0
3344  NaN    TX      NaN
3475  NaN    CO      NaN
5561  NaN    FL  32259.0
6511  NaN    AZ  85607.0

Since we have a zipcode and state for several of these rows, we can look up the appropriate city

In [22]:
killings.loc[3339, 'city'] = "Land O' Lakes"
killings.loc[5561, 'city'] = "Jacksonville"
killings.loc[6511, 'city'] = "Douglas"

#### not sure if I should keep this - BEGIN

In [23]:
null_city_df = killings.loc[killings['city'].isnull()==True,:]

null_city_df

,victims_name,victims_age,victims_gender,victims_race,victim_img_url,date,street_address,city,state,zipcode,...,official_disposition_of_death,criminal_charges,news_article_link,mental_illness,unarmed,alleged_weapon,threat_level,fleeing,body_camera,geo_type
1755,Name withheld by police,Unknown,Male,Unknown race,None,2018-05-25,NaN,NaN,ID,NaN,...,Pending investigation,No known charges,https://www.kivitv.com/news/1-man-killed-in-of...,No,Allegedly Armed,knife,other,Car,No,NaN
3344,Jake Childers,36,Male,White,None,2016-12-27,NaN,NaN,TX,NaN,...,Pending investigation,No known charges,http://www.caller.com/story/news/crime/2016/12...,Unknown,Allegedly Armed,gun,attack,Other,No,NaN
3475,William Ray Score Jr.,47,Male,White,http://ak-cache.legacy.net/legacy/images/cobra...,2016-11-11,NaN,NaN,CO,NaN,...,Pending investigation,No known charges,http://www.denverpost.com/2016/11/15/loveland-...,Unknown,Allegedly Armed,gun,attack,Not fleeing,No,NaN

In [24]:
null_city_links = null_city_df['news_article_link']

null_city_idx = null_city_links.index
null_city_urls = null_city_links.to_list()

print("Here are the links for news articles that contain links for rows with a null city:")
print("-"*50)
print()
for idx, link in zip(null_city_idx[0:10], null_city_links[0:10]):
    null_col_mask = killings.loc[idx].isna()==True
    print(F"df_idx: {idx}")
    print(killings.loc[idx, null_col_mask].to_string())
    print(F"link: {link}")
    print()

Here are the links for news articles that contain links for rows with a null city:
--------------------------------------------------

df_idx: 1755
street_address    NaN
city              NaN
zipcode           NaN
geo_type          NaN
link: https://www.kivitv.com/news/1-man-killed-in-officer-involved-shooting-in-elmore-county

df_idx: 3344
street_address    NaN
city              NaN
zipcode           NaN
geo_type          NaN
link: http://www.caller.com/story/news/crime/2016/12/27/sheriff-inmate-escaped-through-patrol-vehicle-window/95879354/

df_idx: 3475
street_address    NaN
city              NaN
zipcode           NaN
geo_type          NaN
link: http://www.denverpost.com/2016/11/15/loveland-man-suspect-killed-deputy-shooting/

#### not sure if I should keep this END

In [25]:
killings.isnull().sum()

victims_name                        0
victims_age                        66
victims_gender                      0
victims_race                        0
victim_img_url                      0
date                                0
street_address                     83
city                                3
state                               0
zipcode                            39
county                             15
agency_resp_for_death              16
cause_of_death                      0
desc_of_circumstances              20
official_disposition_of_death     256
criminal_charges                    0
news_article_link                  12
mental_illness                     11
unarmed                             0
alleged_weapon                      0
threat_level                     2382
fleeing                          2616
body_camera                      2869
geo_type                           67
dtype: int64

In [26]:
killings.loc[killings['county'].isnull()==True,['street_address', 'city', 'state', 'zipcode', 'county']]

         street_address         city state  zipcode county
493       Bahalia Rd NE       Wesson    MS  39191.0    NaN
528                 NaN  Kansas City    KS      NaN    NaN
774                 NaN        Flint    MI      NaN    NaN
1250                NaN        Pratt    KS      NaN    NaN
1305                NaN       Quincy    FL      NaN    NaN
1322                NaN      Quinlan    TX      NaN    NaN
1336                NaN         Orem    OR      NaN    NaN
1346                NaN    Milwaukee    WI      NaN    NaN
1356                NaN        Hayti    MO      NaN    NaN
1367                NaN    Greenback    TN      NaN    NaN
1430                NaN     Spanaway    WA      NaN    NaN
1607                NaN       Lenoir    NC      NaN    NaN
1965                NaN   Scottsdale    AZ      NaN    NaN
1981                NaN        Utica    KY      NaN    NaN
3315  Lake Cook station    Deerfield    IL      NaN    NaN

Since we have city and state information for these rows, we can look up the appropriate county

In [27]:
killings.loc[493,'county'] = 'Copiah'
killings.loc[528,'county'] = 'Wyandotte'
killings.loc[774,'county'] = 'Genesee'
killings.loc[1250,'county'] = 'Pratt'
killings.loc[1305,'county'] = 'Gadsden'
killings.loc[1322,'county'] = 'Hunt'
killings.loc[1336,'county'] = 'Utah'
killings.loc[1346,'county'] = 'Milwaukee'
killings.loc[1356,'county'] = 'Pemiscot'
killings.loc[1367,'county'] = 'Loudon'
killings.loc[1430,'county'] = 'Pierce'
killings.loc[1607,'county'] = 'Caldwell'
killings.loc[1965,'county'] = 'Maricopa'
killings.loc[1981,'county'] = 'Daviess'
killings.loc[3315,'county'] = 'Lake'

### Description of Circumstances Surrounding Death
It'll take too much time to research these missing entries and I don't think they'll contribute much to analysis, so I'll fill them with "Unavailable"

In [28]:
killings['desc_of_circumstances'].fillna('Unavailable', inplace=True)

### News Article Link
It's going to be near impossible to research links for these rows, so we'll also fill them with "Unavailable"

In [29]:
killings['news_article_link'].fillna('Unavailable', inplace=True)

### Symptoms of Mental Illness

In [30]:
killings['mental_illness'].unique()

array(['No', 'Unknown', 'Yes', 'Drug or alcohol use', nan, 'Unkown',
       'Unknown ', 'unknown'], dtype=object)

Because "Unknown", "Unkown", "Unknown ", and "unknown" all represent the same idea, we need to distill them down to a single category.

In [31]:
mental_illness_dict = {"Unkown":"unknown",
                       "Unknown ":"unknown",
                       "Unknown":"unknown"}

killings['mental_illness'] = killings['mental_illness'].map(mental_illness_dict).fillna(killings['mental_illness'])

### Geography Type/Zipcode/Street Address

In [32]:
killings['geo_type'].unique()

array(['Rural', 'Urban', 'Suburban', nan], dtype=object)

We'll start by looking at placed that have a street address listed so we can use Google maps and try to fill in missing data in these columns

In [33]:
killings.loc[(killings['geo_type'].isnull()==True) & (killings['street_address'] != 'None'), ['street_address', 'city', 'state', 'zipcode', 'geo_type']]

                         street_address         city state  zipcode geo_type
522                      1600 East J St       Tacoma    WA  98421.0      NaN
528                                 NaN  Kansas City    KS      NaN      NaN
595                    1100 Commerce St       Dallas    TX  75242.0      NaN
774                                 NaN        Flint    MI      NaN      NaN
1000            CA-162 & Aguas Frias Rd     Richvale    CA  95974.0      NaN
...                                 ...          ...   ...      ...      ...
6848                      1014 N St. SE   Washington    DC  20374.0      NaN
6862                     4501 Torley St    Pittsburg    PA      NaN      NaN
6933  Boulder Highway and College Drive    Henderson    NV  89105.0      NaN
7099                                NaN        Miami    FL      NaN      NaN
7461                                NaN      Addison    TX      NaN      NaN

[67 rows x 5 columns]

Time to update the null values in the geo_type column.  Note: The data in the data set uses households/sq mi based on zip codes to establish urban, suburban, or rural classification, but for the null values I used households/sq mi based on city instead as the information was more readily available.

- urban: households per square mile >=2213.2 
- suburban: households per square mile >=101.6 and < 2213.2
- rural: households per square mile <101.6

[Source for geo_type classifications](http://jedkolko.com/wp-content/uploads/2015/05/Data-and-methodological-details-052715.pdf)

In [34]:
killings.loc[522, 'geo_type'] = 'Suburban' #82540 households / 62.42 sq mi = 1322 households / sq mi (suburban)

In [35]:
killings.loc[595, 'geo_type'] = 'Suburban' #521198 households / 385.8 sq mi = 1351 households / sq mi (suburban)

In [36]:
killings.loc[1000, 'geo_type'] = 'Rural'

In [37]:
killings.loc[1004, 'geo_type'] = 'Rural'

In [38]:
killings.loc[1281, 'geo_type'] = 'Suburban' # 156,482 households / 156.6 sq. mi = 999 households / sq mi (suburban)

In [39]:
killings.loc[1947, 'geo_type'] = 'Suburban' # 48095 households / 108.3 sq. mi = 444 households / sq mi (suburban)

In [40]:
killings.loc[2072, 'geo_type'] = 'Suburban' # 33 households / .22 sq. mi = 150 households / sq mi (suburban, but just barely)

In [41]:
killings.loc[2207, 'geo_type'] = 'Suburban' # 321835 households / 181.4 sq. mi = 1774 households / sq mi (suburban, almost urban)

In [42]:
killings.loc[2419, 'geo_type'] = 'Urban' # 130885 households / 22.78 sq. mi = 5745 households / sq mi (urban)

In [43]:
killings.loc[2488, 'geo_type'] = 'Suburban' # 23 households / .14 sq. mi = 164 households / sq mi (Suburban, just barely)

In [44]:
killings.loc[3315, 'geo_type'] = 'Suburban' # 7013 households / 5.598 sq. mi = 1263 households / sq mi (suburban)

In [45]:
killings.loc[3347, 'geo_type'] = 'Suburban' # 3203 households / 7.14 sq. mi = 449 households / sq mi (Suburban)

In [46]:
killings.loc[3581, 'geo_type'] = 'Suburban' # 125894 households / 740 sq. mi = 170 households / sq mi (Suburban)

The next location is at Foxwoods Casino in CT, which is technically part of Mashantucket CT., I think because it's considered an indian reservation.  The casino is surrounded by Ledyard CT. and it might be a better idea to use that city as it may be more representative of the household popluation size and square mileage need to classify the geo_type.

In [47]:
killings.loc[3621, 'geo_type'] = 'Rural' # 62 households / 2.6 sq. mi = 24 households / sq mi (Rural)

In [48]:
killings.loc[3699, 'geo_type'] = 'Rural' # 115 households / 1.5 sq. mi = 77 households / sq mi (Rural)

In [49]:
killings.loc[3740, 'geo_type'] = 'Suburban' # 521198 households / 385.8 sq. mi = 1351 households / sq mi (Suburban)

In [50]:
killings.loc[4409, ['geo_type', 'zipcode']] = 'Suburban', 32218.0 #359607 households / 875 sq mi = 411 (Suburban)

In [51]:
killings.loc[4535, ['geo_type', 'zipcode']] = 'Suburban', 46368.0 #13992 households / 27.61 sq mi = 507 (Suburban)

In [52]:
killings.loc[4571, ['geo_type', 'zipcode']] = 'Suburban', 97210.0 #264428 households / 145 sq mi = 1824 (Suburban)

In [53]:
killings.loc[[4592, 4593], ['geo_type', 'zipcode']] = 'Suburban', 77014.0 #848340 households / 669 sq mi = 1268 (Suburban)

In [54]:
killings.loc[4594, ['geo_type', 'zipcode']] = 'Suburban', 74434.0 #1639 households / 14.13 sq mi = 116 (Suburban)

In [55]:
killings.loc[4640, ['geo_type', 'zipcode']] = 'Suburban', 30680.0 #5337 households / 14.15 sq mi = 377 (Suburban)

In [56]:
killings.loc[5021, 'geo_type'] = 'Rural' # 268 households / 8.842 sq. mi = 30 households / sq mi (Rural)

In [57]:
killings.loc[5164, ['geo_type', 'street_address']] = 'Rural', '182 N 4430 Rd' # No census data on household population, but on Google maps it looks very rural

In [58]:
killings.loc[5192, 'geo_type'] = 'Suburban' # 39122 households / 22.99 sq. mi = 1702 households / sq mi (Suburban)

In [59]:
killings.loc[5268, 'geo_type'] = 'Suburban' # 355 households / 0.74 sq. mi = 480 households / sq mi (Suburban)

In [60]:
killings.loc[5371, ['geo_type', 'zipcode']] = 'Suburban', 77073.0 #848340 households / 669 sq mi = 1268 (Suburban)

In [61]:
killings.loc[5623, 'geo_type'] = 'Suburban' # 63217 households / 103.1 sq. mi = 613 households / sq mi (Suburban)

In [62]:
killings.loc[5709, 'geo_type'] = 'Rural' # Jean is just outside of Las Vegas.  Has no residents but is considered a commercial town.  Seems rural enough.

In [63]:
killings.loc[5805, 'geo_type'] = 'Suburban' # 3061 households / 13.13 sq. mi = 233 households / sq mi (Suburban)

In [64]:
killings.loc[[4451, 6080], 'geo_type'] = 'Urban' # 323446 households / 142.5 sq. mi = 2270 households / sq mi (Urban)

In [65]:
killings.loc[6188, 'geo_type'] = 'Urban' # 7229 households / 0.648 sq. mi = 11156 households / sq mi (Urban)\

In [66]:
killings.loc[6570, ['street_address', 'zipcode', 'geo_type']] = '12097 Veterans Memorial Dr', 77067.0, 'Suburban' #848340 households / 669 sq mi = 1268 (Suburban)

In [67]:
killings.loc[6442, 'geo_type'] = 'Rural' # Outskirts of Las Vegas, seems very Rural

In [68]:
killings.loc[6573, ['geo_type', 'zipcode', 'city']] = 'Suburban', 73104.0, 'Oklahoma City' # 240471 / 621 = 387 (Suburban)

In [69]:
killings.loc[6637, ['geo_type', 'zipcode']] = 'Suburban', 70767.0 # 2162 / 3.328 = 650 (Suburban)

In [70]:
killings.loc[6643, ['street_address', 'zipcode', 'geo_type']] = '32000 Westport Way', 92596.0, 'Suburban' # 8539 / 10.9 = 783 (Suburban)

In [71]:
killings.loc[6697, ['street_address', 'geo_type']] = '2335 Union Dr', 'Suburban' # 25243 / 224.27 = 113 (Suburban)

In [72]:
killings.loc[6746, 'geo_type'] = 'Suburban' # 199478 / 136.8 = 1458 (Suburban)

In [73]:
killings.loc[6848, 'geo_type'] = 'Urban' # 281322 / 68.34 = 4117 (Urban)

In [74]:
killings.loc[6862, ['zipcode', 'geo_type']] = 15224.0, 'Urban' # 136275 / 58.34 = 2336

In [75]:
killings.loc[6933, 'geo_type'] = 'Suburban' # 113901 / 108 = 1055 (Suburban)

In [76]:
killings.loc[killings['geo_type'].isnull()==True, ['street_address', 'city', 'state', 'zipcode', 'geo_type', 'news_article_link']]

,street_address,city,state,zipcode,geo_type,news_article_link
528,NaN,Kansas City,KS,NaN,NaN,Unavailable
774,NaN,Flint,MI,NaN,NaN,Unavailable
1029,NaN,Nashua,IA,NaN,NaN,https://wcfcourier.com/news/local/crime-and-co...
1250,NaN,Pratt,KS,NaN,NaN,https://www.kansas.com/news/local/crime/articl...
1305,NaN,Quincy,FL,NaN,NaN,Unavailable
1322,NaN,Quinlan,TX,NaN,NaN,Unavailable
1336,NaN,Orem,OR,NaN,NaN,Unavailable
1346,NaN,Milwaukee,WI,NaN,NaN,Unavailable
1356,NaN,Hayti,MO,NaN,NaN,Unavailable
1367,NaN,Greenback,TN,NaN,NaN,Unavailable
1430,NaN,Spanaway,WA,NaN,NaN,Unavailable
1607,NaN,Lenoir,NC,NaN,NaN,Unavailable
1755,NaN,NaN,ID,NaN,NaN,https://www.kivitv.com/news/1-man-killed-in-of...
1812,NaN,Fairview,OH,43736.0,NaN,http://www.the-review.com/news/20180507/fairvi...
1965,NaN,Scottsdale,AZ,NaN,NaN,Unavailable
1981,NaN,Utica,KY,NaN,NaN,Unavailable
2813,NaN,Seattle,WA,NaN,NaN,http://komonews.com/news/local/detectives-inve...
3344,NaN,NaN,TX,NaN,NaN,http://www.caller.com/story/news/crime/2016/12...
3346,NaN,Kyle,SD,NaN,NaN,http://www.newscenter1.tv/story/34149961/triba...
3475,NaN,NaN,CO,NaN,NaN,http://www.denverpost.com/2016/11/15/loveland-...
6812,NaN,Freeport,TX,NaN,NaN,http://abclocal.go.com/ktrk/story?section=news...
7099,NaN,Miami,FL,NaN,NaN,http://www.tampabay.com/projects/2017/investig...
7461,NaN,Addison,TX,NaN,NaN,https://www.dallasnews.com/news/crime/2016/09/...

In [77]:
killings.loc[1029]

victims_name                                                         Jihad Merrick
victims_age                                                                    NaN
victims_gender                                                                Male
victims_race                                                          Unknown race
victim_img_url                                                                None
date                                                           2019-01-16 00:00:00
street_address                                                                 NaN
city                                                                        Nashua
state                                                                           IA
zipcode                                                                        NaN
county                                                                   Chickasaw
agency_resp_for_death            Bremer County Sheriff’s Office, Chickasaw Coun...
cause_of_death                                                             Gunshot
desc_of_circumstances            Officers then approached the vehicle and found...
official_disposition_of_death                                Pending investigation
criminal_charges                                                  No known charges
news_article_link                https://wcfcourier.com/news/local/crime-and-co...
mental_illness                                                                 Yes
unarmed                                                                    Vehicle
alleged_weapon                                                             vehicle
threat_level                                                                attack
fleeing                                                                        Car
body_camera                                                                     No
geo_type                                                                       NaN
Name: 1029, dtype: object

In [78]:
killings.loc[528, 'geo_type'] = 'Suburban' # 53925 / 128.4 = 420 (Suburban)

In [79]:
killings.loc[774, 'geo_type'] = 'Suburban' # 40035 / 34.11 = 1174 (Suburban)

In [80]:
# killings.loc[1029, 'geo_type'] = 'Suburban' # 682 / 3.14 = 217 (Suburban)

In [81]:
killings.loc[1250, ['street_address', 'zipcode', 'geo_type']] = '500 N Main St', 67124.0, 'Suburban' # 2837 / 7.49 = 379 (Suburban)

In [82]:
killings.loc[1305, 'geo_type'] = 'Suburban' # 2810 / 11.54 = 244 (Suburban)

In [83]:
killings.loc[1322, 'geo_type'] = 'Suburban' # 574 / 1.324 = 434 (Suburban)

In [84]:
killings.loc[1336, 'geo_type'] = 'Suburban' # 28177 / 18.57 = 1517 (Suburban)

In [85]:
killings.loc[1346, 'geo_type'] = 'Urban' # 229556 / 96.81 = 2371 (Urban)

In [86]:
killings.loc[1356, 'geo_type'] = 'Suburban' # 1258 / 2.31 = 545 (Suburban)

In [87]:
killings.loc[1367, 'geo_type'] = 'Rural' # 394 / 8.452 = 47 (Rural)

In [88]:
killings.loc[1430, 'geo_type'] = 'Suburban' # 10780 / 8.687 = 1241 (Suburban)

In [89]:
killings.loc[1607, 'geo_type'] = 'Suburban' # 23121 / 19.7 = 1174 (Suburban)

In [90]:
killings.loc[1812, ['geo_type']] = 'Rural' # 32 / .4 = 80 (Rural)

In [91]:
killings.loc[1965, 'geo_type'] = 'Suburban' # 111221 / 184.4 = 603 (Suburban)

In [92]:
killings.loc[1981, 'geo_type'] = 'Suburban' # 118 / 1.05 = 112 (Suburban)

In [93]:
killings.loc[2813, ['street_address', 'zipcode', 'geo_type']] = '6800 62nd Ave NE', 98115.0, 'Urban' # 283510 / 83.78 = 3384 (Urban)

In [94]:
killings.loc[3344, ['city', 'zipcode', 'geo_type']] = 'Campbellton', 78008.0, 'Rural' # 176 / 198.5 = 1 (Rural)

In [95]:
killings.loc[3346, ['zipcode', 'geo_type']] = 57752.0, 'Rural' # 177 / 2.008 = 88 (Rural)

In [96]:
killings.loc[3475, ['street_address', 'zipcode', 'geo_type', 'city']] = 'X4 Rd', 81411.0, 'Rural', 'Bedrock' #Out in the middle of nowhere

In [97]:
killings.loc[6812, 'geo_type'] = 'Suburban' # 4034 / 17.1 = 236 (Suburban)

In [98]:
killings.loc[7099, 'geo_type'] = 'Urban' # 870051 / 55.25 = 15748 (Urban)

In [99]:
killings.loc[7461, 'geo_type'] = 'Suburban' # 8689 / 4.36 = 1993 (Suburban)

After going through all the links, we'll replace all null values that remain with None

In [104]:
num_null_street_address = killings['street_address'].isnull().sum()
print(F"There are {num_null_street_address} street addresses that will be filled with 'None'")
killings['street_address'].fillna('None', inplace=True)

There are 80 street addresses that will be filled with 'None'

In [105]:
killings.isnull().sum()

victims_name                        0
victims_age                        66
victims_gender                      0
victims_race                        0
victim_img_url                      0
date                                0
street_address                      0
city                                1
state                               0
zipcode                            21
county                              0
agency_resp_for_death              16
cause_of_death                      0
desc_of_circumstances               0
official_disposition_of_death     256
criminal_charges                    0
news_article_link                   0
mental_illness                     11
unarmed                             0
alleged_weapon                      0
threat_level                     2382
fleeing                          2616
body_camera                      2869
geo_type                            2
dtype: int64

In [ ]:
killings.loc[6933, 'news_article_link']

In [ ]:
killings.loc[6933]

In [ ]:
killings.loc[7461, 'news_article_link']

In [ ]:
killings.loc[7461]

In [ ]:
killings.isnull().sum()

In [ ]:
killings.loc[killings['official_disposition_of_death'].isnull()==True, 
             'official_disposition_of_death'] = 'Unknown'

In [ ]:
killings.isnull().sum()

In [ ]:
killings.loc[killings['Agency responsible for death'].isnull()==True, 'Agency responsible for death'] = 'Unknown'

In [ ]:
killings.isnull().sum()

Since we've done as much as we can in the way of researching population densities and manually entering the geo_type.  We'll impute the remaing missing values (only 1 entry) with the mode of that column (Suburban)

In [ ]:
killings['geo_type'].value_counts()

In [ ]:
#killings.loc[killings['geo_type'].isnull() == True, 'geo_type']
mode = killings['geo_type'].mode()[0]
# killings.loc[killings['geo_type'].isnull() == True, 'geo_type'] = str(mode)
# killings.loc[killings['geo_type'].isnull() == True, 'geo_type']
killings['geo_type'].fillna(mode, inplace=True)

In [ ]:
killings.isnull().sum()

In [ ]:
killings.loc[1755]

Since row 1755 has so many missing values, contains so little information, and is the one entry remaining with NaN for the city, I'm going to drop it.

In [ ]:
killings.drop(labels=1755, inplace=True)

In [ ]:
killings.isnull().sum()

In [ ]:
killings.loc[killings["victims_age"]=='Unknown', "victims_age"] = np.nan

In [ ]:
killings['victims_age'].unique()

In [ ]:
killings.loc[killings["victims_age"]=='40s', "victims_age"] = 40.0

In [ ]:
killings.dtypes

In [ ]:
killings["victims_age"] = killings["victims_age"].astype('float64')

In [ ]:
killings.hist("victims_age")
plt.show()

In [ ]:
median_age = round(killings["victims_age"].median())
killings["victims_age"] = killings["victims_age"].fillna(round(median_age))

In [ ]:
killings.isnull().sum()

In [ ]:
killings.info()

In [ ]:
zipcode_null = killings.loc[killings['Zipcode'].isnull()==True,:].index
killings.drop(zipcode_null,inplace=True)

In [ ]:
killings.isnull().sum()

In [ ]:
killings['official_disposition_of_death'].value_counts()

In [ ]:
killings['official_disposition_of_death'].unique()

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('unjustified'), 'official_disposition_of_death'] = 'Unjustified'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('justified'), 'official_disposition_of_death'] = 'Justified'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('convicted'), 'official_disposition_of_death'] = 'Convicted'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('acquitted'), 'official_disposition_of_death'] = 'Acquitted'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('charged'), 'official_disposition_of_death'] = 'Charged'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('pending investigation'), 'official_disposition_of_death'] = 'Pending Investigation'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('unknown'), 'official_disposition_of_death'] = 'Unknown'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('pending investigaton'), 'official_disposition_of_death'] = 'Pending Investigation'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('ongoing investigation'), 'official_disposition_of_death'] = 'Under Investigation'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('unknown'), 'official_disposition_of_death'] = 'Unknown'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('no indictment'), 'official_disposition_of_death'] = 'No indictment'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('No charges'), 'official_disposition_of_death'] = 'No charges'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('unreported'), 'official_disposition_of_death'] = 'Unreported'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('under investigation'), 'official_disposition_of_death'] = 'Under Investigation'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('indicted'), 'official_disposition_of_death'] = 'Indicted'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('no charges'), 'official_disposition_of_death'] = 'No charges'

In [ ]:
killings.loc[killings['official_disposition_of_death'].str.lower().str.contains('no known charges'), 'official_disposition_of_death'] = 'No charges'

In [ ]:
killings['official_disposition_of_death'].value_counts()

In [ ]:
killings.head()

In [ ]:
killings['criminal_charges'].value_counts()

In [ ]:
killings.loc[killings['criminal_charges'] == 'No', 'criminal_charges'] = 'No Charges'
killings.loc[killings['criminal_charges'] == 'NO', 'criminal_charges'] = 'No Charges'
killings.loc[killings['criminal_charges'] == 'No known charges', 'criminal_charges'] = 'No Charges'

In [ ]:
killings['criminal_charges'].value_counts()

In [ ]:
convicted = killings[killings['criminal_charges'].str.lower().str.contains('convicted')]
for i, index in enumerate(convicted.index):
    print()
    print(str(i+1) + '. ' + killings.iloc[index]['desc_of_circumstances'])
    print(killings.iloc[index]['news_article_link'])
    print()

In [ ]:
killings.loc[killings["victims_race"] == 'Unknown race', "victims_race"] = 'Unknown'
killings.loc[killings["victims_race"] == 'Unknown Race', "victims_race"] = 'Unknown'

In [ ]:
killings.loc[killings["victims_race"]=='Asian', "victims_race"] = 'Asian/Pacific Islander'
killings.loc[killings["victims_race"]=='Pacific Islander', "victims_race"] = 'Asian/Pacific Islander'

In [ ]:
killings["victims_race"].value_counts()

In [ ]:
killings['victims_name'].value_counts()

In [ ]:
killings[['First Name', 'Last Name']] = killings['victims_name'].loc[killings['victims_name'].str.split().str.len() == 2].str.split(expand=True)

killings.loc[killings['victims_name'].str.split().str.len() != 2, 'First Name'] = killings['victims_name'].str.split().str[0]
killings.loc[killings['victims_name'].str.split().str.len() != 2, 'Last Name'] = killings['victims_name'].apply(lambda x: HumanName(x).last)
# killings.loc[killings['victims_name'].str.split().str.len() != 2, ['First Name', 'Last Name']] = [killings['victims_name'].str.split().str[0], killings['victims_name'].str.split().str[-1]]

killings.loc[killings['victims_name'] == 'Name withheld by police', ['First Name', 'Last Name']] = ['Unknown', 'Unknown']

killings[['First Name', 'Last Name']]

In [ ]:
killings['First Name'].value_counts()[0:50]

In [ ]:
killings['Last Name'].value_counts()[0:60]

In [ ]:
killings.head()

In [ ]:
killings.to_csv('./csv_files/police_killings_clean.csv', index=False)

# Scratch Work

In [ ]:
# This code will open all links so we can inspect them manually
try:
    for url in null_gender_urls:
        webbrowser.open_new_tab(url)
except:
    pass

In [ ]:
import urllib.request

def is_url_working(x):
    import urllib.request
    print('starting')
    try:
        test_url = urllib.request.urlopen(x)
        return test_url
    except:
        return 'No'
    
# killings['URL working?'] = killings['Link to news article or photo of official document'].apply(is_url_working)

In [ ]:
null_address_df = killings[(killings["street_address"].isnull() == True) & (killings["news_article_link"].isnull()==False)]

null_address_links = null_address_df['news_article_link']

null_address_idx = null_address_links.index
null_address_urls = null_address_links.to_list()

print("Here are the links for news articles that contain links for rows with a null street_address:")
print("-"*50)
print()
for idx, link in zip(null_address_idx[0:10], null_address_links[0:10]):
    null_col_mask = killings.loc[idx].isna()==True
    print(F"df_idx: {idx}")
    print(killings.loc[idx, null_col_mask].to_string())
    print(F"link: {link}")
    print()